WPC_API={Domain of WordPress JSON prefix (/wp-json) with protocol, no trailing slash}
WPC_PUBLIC={Domain of public-facing, headless website URL with protocol, no trailing slash}
WPC_JWT_USER={Your WordPress account user name. Your account has to have minimum permissions.}
WPC_JWT_PASSWORD={Your WordPress account password. Your account has to have minimum permissions.}
WPC_GF_API_USER=
WPC_GF_API_PASSWORD=
WPC_GF_API_KEY=
WPC_GF_API_SECRET=
WPC_SHOW_GRID=1
GATSBY_WPC_WORDPRESS={Domain of WordPress application without the protocol, no trailing slash}
GATSBY_WP_ADMIN={URL of WordPress admin, including protocol, no trailing slash, .e.g. URL ending in /wp-admin}
WPAUTH_DOMAIN=
WPAUTH_CLIENTID=
WPAUTH_CLIENTSECRET=
WPAUTH_CALLBACK=
WPAUTH_CRYPTO_KEY=
WPAUTH_CRYPTO_IV=