version: 2.1
workflows:
  version: 2
  build_and_deploy_main:
    when:
      and:
        - equal: [ main, << pipeline.git.branch >> ]
    jobs:
      - pfe/gatsby-build-and-deploy:
          pre-steps:
            - pfe/gh-status:
                state: "pending"
                target_url: $CIRCLE_BUILD_URL
                description: "Starting Gatsby Build"
                context: "pantheon/webops"
          post-steps:
            - pfe/gh-status:
                state: "success"
                target_url: "https://$TERMINUS_ENV--$TERMINUS_SITE.my.pantheonfrontend.website/"
                description: "Deployment complete"
                context: "pantheon/webops"
          data-source-url: << pipeline.parameters.data-source-url >>
  build_and_deploy_pr:
    # https://circleci.com/docs/2.0/configuration-reference/#using-when-in-workflows
    when:
      and:
        - not:
            equal: [ main, << pipeline.git.branch >> ]
    jobs:
      - pfe/gatsby-build-and-deploy:
          pre-steps:
            - pfe/gh-status:
                state: "pending"
                target_url: $CIRCLE_BUILD_URL
                description: "Starting Gatsby build"
                context: "pantheon/webops"
          post-steps:
            - pfe/gh-status:
                state: "success"
                target_url: "https://$TERMINUS_ENV--$TERMINUS_SITE.my.pantheonfrontend.website/"
                description: "Deployment complete"
                context: "pantheon/webops"
          data-source-url: << pipeline.parameters.data-source-url >>
orbs:
  pfe: pantheon-systems/front-end@0.3.0
parameters:
  data-source-url:
    type: string
    default: "https://live-wpcampus-gatsby.pantheonsite.io" 
