@import "variables.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Roboto:wght@100;300;400&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: inherit;
	line-height: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	line-height: 2;
	font-weight: 400;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

blockquote,
q {
	quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: var(--wpc-blue-royal);
}

img {
	max-width: 100%;
}

p {
	margin: 0 0 1rem;
}

ul,
ol {
	margin: 0 0 1rem 2rem;

	ul,
	ol {
		margin-bottom: 0;
	}
}

h1 {
	font-size: 2.5rem;
	line-height: 1.3;
	margin: 0 0 1rem;
}

h2 {
	font-size: 2rem;
	line-height: 1.3;
	margin: 2rem 0 1rem;
}

h3 {
	font-size: 1.6rem;
	line-height: 1.4;
	margin: 0 0 0.5rem;
}

h4 {
	font-size: 1.3rem;
	line-height: 1.5;
	margin: 0 0 0.5rem;
}

.for-screen-reader {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

svg.wpc-logo {
	&__letters {
		&--wp {
			opacity: 0.7;
		}
	}
}

.wpc-icon {
	&-text {
		.wpc-icon {
			display: inline-block;
			width: 25px;
			height: auto;
			max-height: 22px;
			vertical-align: bottom;
			margin: 0 0.5rem 0 0;
		}
	}
}

button {
	cursor: pointer;
}

.wpc-button {
	background-color: #ecf2fa;
	border: 1px solid #dce6f5;
	border-radius: var(--button-border-radius);
	padding: 0.5rem 1rem;
	font-size: inherit;
	color: inherit;
	text-decoration: underline;
	cursor: pointer;

	&--primary {
		background-color: var(--wpc-blue-royal);
		border-color: var(--wpc-blue-royal);
		color: #fff;
	}

	&--plain {
		background: transparent;
		border: 0;
	}

	&:hover,
	&:focus {
		background-color: var(--wpc-blue-dark);
		border-color: var(--wpc-blue-dark);
		color: #fff;
	}
}

nav.wpc-nav {
	ul,
	li {
		margin: 0;
	}

	li {
		list-style: none;
	}

	&--actions {
		.wpc-button {
			display: block;
			width: 100%;
			text-align: center;
			margin: 0 0 0.5rem;
		}
	}
}

.wpc-component {
	&__error-message {
		font-style: italic;
	}
}

.wpc-svg {
	&--magnifying {
		path {
			fill-rule: evenodd;
			clip-rule: evenodd;
		}
	}
}

.wpcampus--path-404 {
	svg#Truck_sheep {
		float: right;
		max-width: 200px;
		margin: 0 0 3rem 4rem;
	}
}

.wpc-author-card {
	margin: 0 0 1rem;

	&__heading {
		font-size: 1.6rem;
		line-height: 1.5;
		margin: 0;
	}

	/* stylelint-disable no-descending-specificity */
	&__meta {
		display: block;
		list-style: none;
		margin: 0 0 1rem;
		font-size: 0.9rem;

		li {
			--dash-width: 6px;
			--dash-padding: 5px;

			display: inline-block;
			position: relative;
			padding-left: calc(var(--dash-width) + var(--dash-padding));
			margin-left: var(--dash-padding);

			&::before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				width: var(--dash-width);
				height: 2px;
				background: #888;
			}

			&:first-child {
				padding-left: 0;
				margin-left: 0;

				&::before {
					display: none;
				}
			}
		}
	}
	/* stylelint-disable */

	.wpc-areas--grid {
		grid-column-gap: 1.5rem;

		.wpc-author-card__area {
			&--avatar {
				grid-column: col-start / span 3;
			}

			&--main {
				grid-column: col-start 4 / span 9;
			}

			/* Desktop */
			@media (min-width: 1260px) {
				&--avatar {
					grid-column: col-start / span 2;
				}

				&--main {
					grid-column: col-start 3 / span 10;
				}
			}
		}
	}
}
