.wpc-body {
	nav.wpc-crumbs {
		a {
			color: inherit;

			&.nav-link--current {
				font-weight: 600;
			}
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			margin: 0;

			li {
				margin: 0 0 0 0.5rem;
				padding: 0 0 0 1rem;
				position: relative;

				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: 50%;
					width: 1px;
					height: 50%;
					background: #222;
					transform: rotate(30deg) translateY(-50%);
				}

				&:first-child {
					margin-left: 0;
					padding-left: 0;

					&::before {
						display: none;
					}
				}
			}
		}
	}

	.wpc-sidebar {
		h2 {
			font-size: 1.6rem;

			a {
				color: inherit;
			}
		}

		h3 {
			font-size: 1.4rem;
			margin-top: 0;
		}
	}

	.wpc-search {
		transition: all 0.5s;

		.wpc-form--search {
			margin: 1.5rem 0 0 0;
		}

		&__results {
			margin: 2rem 0 0 0;
		}

		&--processing {
			opacity: 0.6;
			pointer-events: none;
		}
	}

	main {
		& > h1:first-child {
			margin-top: -0.25rem;
		}

		& > *:first-child {
			margin-top: 0;
		}

		& > *:last-child {
			margin-bottom: 0;
		}
	}

	&__areas {
		grid-column-gap: 0;
		grid-row-gap: 0;

		.wpc-body__area {
			&--crumbs {
				background: var(--wpc-yellow-light);
				padding: 1rem var(--area-padding);
				border-bottom: var(--border-yellow);
				font-size: 0.9rem;
				line-height: 1.3;
			}

			&--sidebar {
				background: var(--wpc-blue-light);
				border-top: 1px solid rgba(17, 89, 189, 0.15);
			}
		}

		/* ONLY Mobile */
		@media (max-width: 919px) {
			grid-template-columns: 1fr;

			.wpc-body__area {
				&--notifications {
					/* stylelint-disable selector-type-no-unknown */
					wpcampus-notifications .wpc-notifications {
						padding-left: 0;
						overflow: hidden;

						.wpc-notification__icon {
							margin-left: -4px;
							margin-right: 0;

							&__graphic {
								width: 24px;
							}
						}
					}
					/* stylelint-disable */
				}

				&--main,
				&--sidebar {
					padding: var(--area-padding);
				}
			}
		}

		/* Laptop */
		@media (min-width: 920px) {
			grid-template-rows: auto auto 1fr;

			.wpc-body__area {

				&--notifications {
					grid-column: 1 / span 12;
					grid-row: 1 / span 1;
					padding: 0;
				}

				&--nav {
					grid-column: 1 / span 3;
					grid-row: 2 / span 2;
					padding: 0;

					* {
						color: inherit;
					}
				}

				&--crumbs {
					grid-column: 4 / span 9;
					grid-row: 2 / span 1;
				}

				&--main {
					grid-column: 4 / span 9;
					grid-row: 3 / span 1;
					padding: var(--area-padding-large);
				}
			}

			&--sidebar {
				grid-template-rows: auto auto auto 1fr;

				.wpc-body__area {
					&--nav {
						grid-row: 2 / span 3;
					}

					&--sidebar {
						grid-column: 4 / span 9;
						grid-row: 4 / span 1;
					}
				}
			}
		}

		/* Desktop */
		@media (min-width: 1380px) {
			.wpc-body__area {
				&--notifications {
					grid-column: 3 / span 10;
					grid-row: 1 / span 1;
				}

				&--nav {
					grid-column: 1 / span 2;
					grid-row: 1 / span 4;
				}

				&--crumbs {
					grid-column: 3 / span 10;
					grid-row: 2 / span 1;
				}

				&--main {
					grid-column: 3 / span 10;
					grid-row: 3 / span 1;
				}
			}

			&--sidebar--bottom {
				.wpc-body__area {
					&--sidebar {
						grid-column: 3 / span 10;
					}
				}
			}

			&--sidebar:not(.wpc-body__areas--sidebar--bottom) {
				grid-template-rows: auto auto 1fr;

				.wpc-body__area {
					&--nav {
						grid-row: 1 / span 3;
					}

					&--main {
						grid-column: 3 / span 7;
					}

					&--sidebar {
						grid-column: 10 / span 3;
						grid-row: 2 / span 2;
						border-top: 0;
						border-left: 1px solid rgba(17, 89, 189, 0.15);
					}
				}
			}
		}
	}
}
