.wpc-body {
	.wpc-author {
		margin: 0 0 1rem;

		&__areas {
			.wpc-author__area {
				&--avatar {
					grid-column: col-start / span 3;
				}

				&--main {
					grid-column: col-start 4 / span 9;
				}
			}
		}
	}

	&__areas {
		grid-template-rows: auto 1fr;

		.wpc-body__area {
			&--nav {
				grid-area: navPrimary;
				grid-column: col-start / span 3;
				grid-row: 1 / span 2;
			}

			&--crumbs {
				grid-area: crumbs;
				grid-column: col-start 4 / span 9;
				grid-row: 1 / span 1;
			}

			&--main {
				grid-area: main;
				grid-column: col-start 4 / span 9;
				grid-row: 2 / span 1;
			}

			@media (min-width: 1260px) {
				&--nav {
					grid-column: col-start / span 2;
				}

				&--crumbs,
				&--main {
					grid-column: col-start 3 / span 10;
				}
			}
		}
	}
}
