.wpc-body {
	.wpc-author {
		margin: 0 0 1rem;

		&__areas {
			.wpc-author__area {
				&--avatar {
					grid-column: col-start / span 3;
				}

				&--main {
					grid-column: col-start 4 / span 9;
				}
			}
		}
	}

	nav.wpc-crumbs {
		a {
			color: inherit;

			&.nav-link--current {
				font-weight: bold;
			}
		}

		ul {
			display: flex;
			list-style: none;
			margin: 0;

			li {
				margin: 0 0 0 0.5rem;
				padding: 0 0 0 1rem;
				position: relative;

				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: 50%;
					width: 1px;
					height: 50%;
					background: #222;
					transform: rotate(30deg) translateY(-50%);
				}

				&:first-child {
					margin-left: 0;
					padding-left: 0;

					&::before {
						display: none;
					}
				}
			}
		}
	}

	.wpc-sidebar {
		h2 {
			font-size: 1.6rem;

			a {
				color: inherit;
			}
		}

		h3 {
			font-size: 1.4rem;
		}
	}

	.wpc-search {
		transition: all 0.5s;

		.wpc-form--search {
			margin: 1.5rem 0 0 0;
		}

		&__results {
			margin: 2rem 0 0 0;
		}

		&--processing {
			opacity: 0.6;
			pointer-events: none;
		}
	}

	main {
		& > h1:first-child {
			margin-top: -0.25rem;
		}
	}

	&__areas {
		.wpc-body__area {
			&--nav {
				box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.7);
			}

			&--notifications {
				background: var(--wpc-gray-lightest);
				border-bottom: var(--area-border-gray-light);
			}

			&--sidebar {
				background: var(--wpc-blue-light);
				border-top: 1px solid rgba(17, 89, 189, 0.15);
			}
		}

		/* Mobile */
		@media (max-width: 767px) {
			grid-template-columns: 1fr;
		}

		/* Laptop */
		@media (min-width: 768px) {
			grid-template-rows: auto auto auto 1fr;
			grid-column-gap: 0;
			grid-row-gap: 0;

			.wpc-body__area {
				padding: var(--area-padding);

				&--notifications {
					grid-column: col-start / span 12;
					grid-row: 1 / span 1;
					padding-top: 1.5rem;
					padding-bottom: 1.5rem;
				}

				&--nav {
					grid-column: col-start / span 3;
					grid-row: 2 / span 3;
					background: var(--wpc-blue-dark);
					color: #fff;
					padding: 0;

					* {
						color: inherit;
					}
				}

				&--crumbs {
					grid-column: col-start 4 / span 9;
					grid-row: 2 / span 1;
					background: rgba(255, 210, 0, 0.05);
					border-bottom: 1px solid rgba(255, 210, 0, 0.2);
					padding-top: 1rem;
					padding-bottom: 1rem;
				}

				&--main {
					grid-column: col-start 4 / span 9;
					grid-row: 3 / span 1;
					padding: var(--area-padding-large);
				}

				&--sidebar {
					grid-column: col-start 4 / span 9;
					grid-row: 4 / span 1;
					padding-left: var(--area-padding-large);
					padding-right: var(--area-padding-large);
				}
			}
		}

		/* Desktop */
		@media (min-width: 1260px) {
			grid-template-rows: auto auto 1fr;

			.wpc-body__area {
				&--notifications {
					grid-column: col-start 3 / span 10;
					grid-row: 1 / span 1;
				}

				&--nav {
					grid-column: col-start / span 2;
					grid-row: 1 / span 3;
				}

				&--crumbs {
					grid-column: col-start 3 / span 7;
					grid-row: 2 / span 1;
				}

				&--main {
					grid-column: col-start 3 / span 7;
					grid-row: 3 / span 1;
				}

				&--sidebar {
					grid-column: col-start 10 / span 3;
					grid-row: 2 / span 2;
					border-top: 0;
					border-left: 1px solid rgba(17, 89, 189, 0.15);
				}
			}
		}
	}
}
