/* stylelint-disable selector-type-no-unknown */
wpcampus-conduct {
	background: var(--wpc-gray-lightest);
	border-top: var(--area-border-gray-light);

	.wpc-conduct {
		a {
			color: inherit;
		}

		svg {
			display: block;
			max-width: 100%;
			height: auto;
		}

		&__link {
			font-weight: 600;
		}

		.wpc-conduct__heading {
			font-size: 1.3rem;
			font-weight: 600;
			margin: 0 0 0.25rem;
		}

		.wpc-conduct__main {
			& > *:last-child {
				margin-bottom: 0;
			}
		}

		&__area {
			padding: var(--area-padding) var(--area-padding-large);

			@media (min-width: 768px) {
				display: grid;
				grid-template-columns: 100px 1fr;
				grid-column-gap: 2rem;
				align-items: center;

				.wpc-conduct__main {
					grid-column: 2 / span 1;
				}

				.wpc-conduct__graphic {
					grid-column: 1 / span 1;
					grid-row: 1;
				}
			}
		}

		/* Laptop */
		@media (min-width: 768px) {
			max-width: 90%;
			margin: 0 auto;
		}
	}
}
/* stylelint-disable */