.wpc-footer {
	border-top: var(--area-border-gray-light);

	& > .wpc-container {
		padding: var(--area-padding-large);
		margin: 0 auto;
	}

	.wpc-desc,
	.wpc-copyright {
		font-size: 0.9rem;

		> *:last-child {
			margin-bottom: 0;
		}
	}

	.wpc-copyright {
		text-align: center;
	}

	.wpc-logo {
		display: block;
	}

	nav.wpc-nav {
		&--footer {
			font-size: 1.1rem;

			a {
				color: inherit;
			}

			li {
				margin-bottom: 0.25rem;

				&:first-child {
					font-weight: 600;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&--social {
			svg {
				display: block;
				width: 100%;
				max-height: 40px;
				fill: #222;
			}

			a {
				display: flex;
				height: 100%;
				align-items: center;
			}

			/* stylelint-disable no-descending-specificity */
			li {
				flex-grow: 1;
				margin: 0 0 0 1rem;

				&:first-child {
					margin-left: 0;
				}
			}

			/* no-descending-specificity */

			ul {
				display: flex;
				align-items: stretch;
			}
		}
	}

	&__areas {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto auto auto auto;
		grid-row-gap: 1.25rem;

		.wpc-footer__area {
			&--logo {
				grid-row: 1 / span 1;
			}

			&--desc {
				grid-row: 2 / span 1;
			}

			&--actions {
				grid-row: 3 / span 1;
			}

			&--nav {
				grid-row: 4 / span 1;
				text-align: center;
				margin: 0 0 1rem;
			}

			&--social {
				grid-row: 5 / span 1;
			}

			&--copyright {
				grid-row: 6 / span 1;
			}
		}
	}

	/* Laptop */
	@media (min-width: 768px) {
		&__areas {
			grid-template-columns: 350px 1fr;
			grid-template-rows: auto auto auto auto 1fr;
			grid-column-gap: 4rem;
			max-width: 90%;
			margin: 0 auto;

			.wpc-footer__area {
				&--nav {
					grid-column: 2 / span 1;
					grid-row: 1 / span 2;
					text-align: left;
					margin: 0;
				}

				&--actions {
					grid-column: 1 / span 2;
					grid-row: 3 / span 1;

					nav {
						max-width: 60%;
						margin: 0 auto;
					}
				}

				&--social {
					grid-column: 1 / span 2;
					grid-row: 4 / span 1;

					nav {
						max-width: 60%;
						margin: 0 auto;
					}
				}

				&--copyright {
					grid-column: 1 / span 2;
					grid-row: 5 / span 1;
				}
			}
		}
	}

	/* Desktop-ish (breaks out before default desktop size) */
	@media (min-width: 1100px) {
		&__areas {
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: auto auto auto 1fr;
			grid-column-gap: 0;
			grid-row-gap: 1rem;

			.wpc-logo {
				max-width: 300px;
			}

			.wpc-copyright {
				text-align: left;

				a {
					color: inherit;
				}
			}

			.wpc-footer__area {
				&--logo {
					grid-column: 1 / span 3;
				}

				&--desc {
					grid-column: 1 / span 3;
				}

				&--nav {
					grid-column: 6 / span 2;
					grid-row: 1 / span 4;
				}

				&--actions {
					grid-column: 10 / span 3;
					grid-row: 1 / span 4;

					nav {
						max-width: none;
						margin: 0;
					}
				}

				&--social {
					grid-column: 1 / span 3;
					grid-row: 3 / span 1;

					nav {
						max-width: none;
						margin: 0;
					}
				}

				&--copyright {
					grid-column: 1 / span 3;
					grid-row: 4 / span 1;
				}
			}
		}
	}
}
