input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"] {
	display: block;
	width: 100%;
	height: auto;
	padding: 0.5rem;
	font-size: 1rem;
	color: inherit;
	border: var(--input-border);
	-webkit-appearance: none;
}

textarea {
	display: block;
	width: 100%;
	min-height: 120px;
	padding: 0.25rem;
}

input[type="submit"] {
	background-color: var(--wpc-blue-royal);
	border: 1px solid var(--wpc-blue-royal);
	border-radius: var(--button-border-radius);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	color: #fff;
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: var(--wpc-blue-dark);
		border-color: var(--wpc-blue-dark);
		color: #fff;
	}
}

legend {
	font-weight: 600;
}

fieldset {
	padding: 1rem 1rem 0.5rem 1rem;
}

form.gform {
	border: 1px solid #ccc;
	padding: 1.5rem;

	fieldset {
		padding: 0;
	}

	.gform__label,
	.gform__description {
		margin: 0 0 0.75rem;
	}

	.gform__field__required {
		font-size: 1.1rem;
		color: #900;
		vertical-align: middle;
		margin: 0 0 0 0.25rem;
	}

	.gform__label {
		display: block;

		&--radio {
			display: inline;
		}

		&--required {
			vertical-align: middle;
		}
	}

	.gform__legend {
		display: block;
		width: 100%;

		&--required {
			vertical-align: middle;
		}
	}

	.gform__element {
		margin: 0 0 0.5rem;

		&--radio {
			margin: 0 0.5rem 0 0;
		}

		&[aria-invalid="true"] {
			border: 1px solid #900;
		}
	}

	.gform__field {
		&--radio {
			margin-bottom: 1rem;
		}

		&--error {
			background-color: rgba(255, 223, 224, 0.2);
			border-top: 1px solid #900;
			border-bottom: 1px solid #900;
			padding: 1rem 1rem 1.25rem;
			margin-bottom: 1rem;

			legend,
			.gform__label--above {
				color: #900;
			}

			.gform__container {
				margin-bottom: 0;
			}

			.gform__error {
				color: #900;
				font-weight: 600;

				& > *:first-child {
					margin-top: 0;
				}

				& > *:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.gform__processed {
		background: rgba(22, 98, 22, 0.05);
		border: 1px solid rgba(22, 98, 22, 0.3);
		padding: 1rem 1rem 1.25rem;
		margin: 0 0 1rem;

		a {
			color: inherit;
		}

		p {
			line-height: 1.5;
		}

		& > *:first-child {
			margin-top: 0;
		}

		& > *:last-child {
			margin-bottom: 0;
		}

		&__heading {
			font-size: 1.1rem;
			font-weight: 600;
			margin: 0 0 0.7rem;
		}

		&--error {
			background: transparent;
			border: 0;
			border-top: 1px solid #900;
			border-bottom: 1px solid #900;
			color: #900;
		}
	}

	.gform__errors {
		border-top: 1px solid #900;
		border-bottom: 1px solid #900;
		padding: 1rem 1rem 1.25rem;
		margin: 0 0 1rem;
		color: #900;

		a {
			color: inherit;
		}

		& > *:first-child {
			margin-top: 0;
		}

		& > *:last-child {
			margin-bottom: 0;
		}

		&__message {
			font-weight: 600;
			margin-bottom: 0.25rem;
		}

		&__list {
			margin: 0 0 0 1.5rem;

			li {
				margin: 0 0 0.5rem;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.gform__container {
		margin: 0 0 1rem;

		.gform__label {
			&--above {
				margin-bottom: 0.25rem;
			}

			&--radio {
				margin-bottom: 0;
			}
		}

		&--radio {
			vertical-align: middle;
		}

		&--textarea {
			label {
				font-weight: 600;
			}
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}

	/* Laptop */
	@media (min-width: 768px) {
		.gform__options {
			&--name,
			&--email {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-column-gap: 1rem;

				.gform__container {
					width: auto;
				}
			}

			&--radio {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				align-content: flex-start;
				justify-content: flex-start;

				.gform__container {
					flex-grow: 1;
					width: 50%;
					margin-bottom: 0.5rem;
				}
			}
		}
	}

	.gform__footer {
		input[type="submit"] {
			display: block;
			width: 100%;
			border: 0;
			border-radius: 0.5rem;
			padding: 1rem 0.5rem;
			font-size: 1.2rem;
			font-weight: 600;
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

.wpc-form {
	&__alert {
		margin: 0 0 0.5rem;
		font-weight: 600;
	}

	&__label {
		display: block;
		padding: 0 0.6rem 0 0;
	}

	&__input {
		&[aria-invalid="true"] {
			border: 1px solid #900;
		}

		&--error {
			margin: 0.25rem 0 0;
			color: #900;
		}
	}

	&--search {
		--magnifying-width: 40px;

		display: grid;
		grid-template-columns: 1fr 10rem;
		grid-column-gap: 0.75rem;
		align-items: stretch;
		border: var(--input-border);
		padding: 0.75rem;
		background: #fff;

		&.wpc-search-form {
			.wpc-search-form {
				&__input[type="search"] {
					border: 0;
					padding: 0;
					font-size: 1.3rem;
					background: transparent;
					height: var(--magnifying-width);
				}

				&__submit {
					display: block;
					width: 100%;
				}
			}

			&--show-submit-icon {
				grid-template-columns: 1fr var(--magnifying-width);

				.wpc-search-form__submit-icon {
					position: relative;

					input[type="submit"] {
						background: transparent;
						border: 0;
						padding: 0;
						width: var(--magnifying-width);
						height: var(--magnifying-width);

						&:hover,
						&:focus {
							outline: 1px dotted #212121;
							outline: 5px auto -webkit-focus-ring-color;
						}
					}

					.wpc-search-form__magnifying {
						position: absolute;
						left: 0;
						top: 0;
						width: var(--magnifying-width);
						height: var(--magnifying-width);
						pointer-events: none;

						svg {
							display: block;
							width: var(--magnifying-width);
							height: var(--magnifying-width);
						}
					}
				}
			}
		}
	}

	&--login {
		display: grid;
		grid-template-rows: repeat(6, auto);
		grid-row-gap: 0.5rem;
		align-items: center;
		font-size: 0.9rem;

		input[type="submit"].wpc-form__submit {
			font-size: 1.4rem;
			line-height: 1.4;
		}
	}

	&--password {
		display: grid;
		grid-template-rows: repeat(4, auto);
		grid-row-gap: 0.5rem;
		align-items: center;
		font-size: 0.9rem;
	}

	&--processing {
		opacity: 0.4;
		pointer-events: none;
	}
}
