.wpc-form {
	input[type="text"],
	input[type="search"],
	input[type="email"],
	input[type="password"] {
		display: block;
		width: 100%;
		height: auto;
		padding: 0.5rem;
		font-size: 1rem;
		color: inherit;
		border: var(--input-border);
	}

	input[type="submit"] {
		background-color: var(--wpc-blue-royal);
		border: 1px solid var(--wpc-blue-royal);
		border-radius: 0.25rem;
		padding: 0.5rem 1rem;
		font-size: 1.1rem;
		color: #fff;
		cursor: pointer;

		&:hover,
		&:focus {
			background-color: var(--wpc-blue-dark);
			border-color: var(--wpc-blue-dark);
			color: #fff;
		}
	}

	&__alert {
		margin: 0 0 0.5rem;
		font-weight: 600;
	}

	&__label {
		display: block;
		padding: 0 0.6rem 0 0;
	}

	&__input {
		&[aria-invalid="true"] {
			border: 1px solid #900;
		}

		&--error {
			margin: 0.25rem 0 0;
			color: #900;
		}
	}

	/* stylelint-disable no-descending-specificity */
	&--hide-submit {
		input[type="submit"] {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		/* stylelint-disable */
	}

	&--processing {
		opacity: 0.4;
		pointer-events: none;
	}

	&--search {
		--magnifying-width: 30px;

		display: grid;
		grid-template-columns: var(--magnifying-width) 1fr 10rem;
		grid-column-gap: 0.75rem;
		border: var(--input-border);
		padding: 0.75rem;

		.wpc-search-form__magnifying {
			display: flex;
			align-items: center;

			svg {
				display: block;
				width: var(--magnifying-width);
				height: auto;
			}
		}

		.wpc-search-form__input[type="search"] {
			border: 0;
			padding: 0;
			font-size: 1.3rem;
		}

		&.wpc-form--hide-submit {
			grid-template-columns: var(--magnifying-width) 1fr;
		}
	}

	&--login {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-column-gap: 0;
		grid-row-gap: 0.5rem;
		align-items: center;
		font-size: 0.9rem;
		border: 1px solid #ccc;
		padding: 1rem;

		.wpc-form__alert {
			grid-column: 1 / span 2;
		}

		.wpc-form__label {
			grid-column: 1 / span 1;
		}

		.wpc-form__inputWrapper {
			grid-column: 2 / span 1;
		}

		.wpc-form__submit {
			grid-column: 1 / span 2;
			margin: 0.6rem 0 0;
		}
	}
}
