@import "variables.css";

.wpc-areas {
	&--grid {
		display: grid;
		grid-template-columns: repeat(12, [col-start] 1fr);
		grid-column-gap: 1rem;
		grid-row-gap: 1rem;
		justify-items: stretch;
		align-items: stretch;
		justify-content: stretch;

		.wpc-area {
			min-height: 1rem;
			justify-self: stretch;
		}
	}
}

.wpc-wrapper {
	.wpc-container {
		margin: 0 auto;
		max-width: var(--container-max-width);
	}
}
