.wpc-grid--dev {
	display: none;
}

.wpcampus--hasGridDev {
	position: relative;

	.wpc-area {
		border: var(--area-border);
	}

	.wpc-grid--dev {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -100;

		.wpc-grid--dev__cols {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-column-gap: 1rem;
			height: 100%;

			.wpc-grid--dev__col {
				background: rgba(0, 0, 255, 0.025);
				border: 0;
			}
		}

		.wpc-wrapper {
			height: 100%;

			.wpc-container {
				height: 100%;
				padding: 0;
			}
		}
	}

	.wpc-notifications {
		.wpc-notification {
			border: var(--area-border);
		}
	}
}
