@import "variables.css";

.wpc-header {
  background: var(--wpc-blue-dark);
  color: #fff;

  *,
  a {
    color: inherit;
  }

  .wpc-header__heading {
    &--site {
      margin: 0;
    }
  }

  .wpc-user {
    border: 1px solid #fff;
    padding: 0.25rem;
  }

  .wpc-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
