@import "variables.css";

.header {
    background: var(--wpc-blue-dark);
    color: #fff;
}

.header .header__container {
    margin: 0 auto;
    max-width: var(--container-max-width);
    padding: 1.45rem var(--container-padding-side);
}

.header .header__siteTitle {
    margin: 0;
}

.header *,
.header a {
    color: inherit;
}
