.wpc-header {
	border-bottom: 5px solid rgba(44, 38, 50, 0.9);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
	z-index: 1000;
	position: relative;

	/* stylelint-disable no-descending-specificity */
	.wpc-member {
		&__actions {
			ul {
				display: flex;
				align-items: stretch;

				a,
				button {
					display: flex;
					height: 100%;
					align-items: center;
					padding: 0.25rem 1rem;
				}

				li {
					margin: 0 0.75rem 0 0;
				}
			}
		}
	}/* stylelint-disable */

	.wpc-user {
		display: grid;
		grid-template-columns: 80px auto;
		grid-column-gap: 1.1rem;
		align-items: center;

		&__avatar {
			display: block;
			width: 100%;
			height: auto;
			border: var(--area-border-gray-light);
		}

		&__name {
			font-weight: 600;
			font-size: 1.1rem;
		}

		&__actions {
			.wpc-button {
				padding: 0 0.75rem;
				font-size: 0.9rem;
			}

			ul {
				li {
					margin: 0 0.25rem 0 0;
				}
			}
		}
	}

	&__heading {
		margin: 0;
	}

	&__areas {
		padding: 1.75rem 2rem;
		align-items: center;

		.wpc-header__area {
			&--actions {
				grid-column: 1 / span 3;

				.wpc-button {
					max-width: 300px;
				}
			}

			&--logo {
				grid-column: 5 / span 3;
				align-self: center;

				a,
				svg {
					display: block;
				}

				svg {
					max-height: 60px;
					margin: 0 auto;
				}
			}

			&--meta {
				grid-column: 10 / span 3;
			}
		}
	}
}

.wpc-hero {
	background: url(../images/heros/hero1.png) center -175px fixed;
	height: 150px;
}
