.wpcampus--home {
	.wpc-header {
		&--home-one {
			background: url(../images/heros/hero1.png) center top fixed;
			background-size: 100% auto;
			box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3);

			.wpc-home-banner {
				display: grid;
				grid-template-rows: auto auto auto auto;
				grid-row-gap: 1.25rem;

				ul.wpc-home-banner__numbers {
					display: block;
					list-style: none;
					margin: 0;
					font-family: 'Roboto', sans-serif;
					font-size: 3rem;
					line-height: 4rem;
					font-weight: 300;
					text-transform: uppercase;

					li.wpc-numbers {
						margin: 0 0 0.75rem;
						display: flex;
						align-items: stretch;

						.wpc-numbers__count,
						.wpc-numbers__label {
							display: flex;
							align-items: center;
						}

						.wpc-numbers__count {
							font-weight: 800;
							margin: 0 0.7rem 0 0;
						}

						.wpc-numbers__label {
							flex-grow: 1;
						}

						&--wpcampus {
							width: 100%;
							font-size: 3.5rem;
						}

						&:last-child {
							margin-bottom: 0;
						}
					}

					svg.wpc-logo {
						display: block;
						width: 100%;
						max-width: 400px;
					}
				}

				p {
					margin: 0;
				}

				form.wpc-search-form {
					margin: 0;

					.wpc-search-form__input[type="search"] {
						font-size: 1.5rem;
					}
				}

				.wpc-nav--actions {
					ul {
						display: flex;
					}

					a {
						margin: 0;
					}
				}

				.wpc-home-banner__tagline {
					font-size: 2rem;
					line-height: 1.5;
				}
			}

			.wpc-areas {
				display: flex;
				align-items: stretch;
				min-height: 300px;
				padding: 0;

				.wpc-header__area {
					&--banner {
						background-color: rgba(255, 255, 255, 0.95);
						display: flex;
						align-items: center;
						padding: 4.25rem 0 5rem 5rem;
					}

					&--meta {
						background-image:
							linear-gradient(
								to right,
								#fff,
								transparent
							);
						flex-grow: 1;
					}
				}
			}
		}
	}
}
