html.wpc-html--loading {
	height: 100%;
	box-sizing: border-box;

	body {
		height: 100%;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4rem;
	}

	.wpc-loading {
		display: grid;
		grid-template-columns: 1fr;
		justify-content: center;
		text-align: center;
		width: 230px;
		max-width: 100%;
		margin: 0 auto;
		padding: 2rem;
		border: 1px solid var(--wpc-gray-medium);

		svg#Truck_sheep {
			max-width: 100%;
			margin: 0;
		}

		h1 {
			font-size: 1rem;
			line-height: 1.5;
			color: #444;
			margin: 1rem 0 0;
		}
	}
}
