/* ONLY Mobile */
@media (max-width: 919px) {
	body.menu-toggled-open {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}

#navPrimary {
	--nav-padding-top: 0.8rem;
	--nav-padding-right: 1.5rem;
	--nav-padding-bottom: 0.8rem;
	--nav-padding-left: 1.5rem;
	--nav-border-color: rgba(255, 255, 255, 0.15);
	--nav-border: 1px solid var(--nav-border-color);
	--nav-focus-bg-color: rgba(255, 255, 255, 0.05);
	--nav-sub-toggle-width: 1px;
	--nav-sub-toggle-length: 18px;
	--nav-sub-toggle-padding-left: var(--nav-padding-right);
	--nav-toggled-open-bg-color: #425068;

	font-size: 1.15rem;
	line-height: 1.5;
	color: #fff;
	background: var(--wpc-blue-dark);

	a {
		display: block;
		color: inherit;
		text-decoration: none;
		padding: var(--nav-padding-top) var(--nav-padding-right) var(--nav-padding-bottom) var(--nav-padding-left);

		&:hover,
		&:focus {
			background-color: var(--nav-focus-bg-color);
			text-decoration: underline;
		}

		&.nav-link {
			&--current {
				font-weight: 600;
			}

			&--current,
			&--current:hover,
			&--current:focus {
				background-color: #2e3d58; /* rgba(17, 89, 189, 0.2); */
				box-shadow: inset 13px 0 13px -12px rgba(0, 0, 0, 0.7);
			}
		}
	}

	li {
		border-bottom: var(--nav-border);
	}

	button.submenu-toggle {
		display: none;
	}

	/* Will be wrapped around the <a> and <button> for a link with a submenu */
	span.nav-link--toggle {
		display: grid;
		grid-template-columns: 1fr calc(var(--nav-padding-right) + var(--nav-padding-right) + var(--nav-sub-toggle-length));
		justify-items: stretch;
		align-items: stretch;

		button.submenu-toggle {
			display: block;
			width: calc(var(--nav-padding-right) + var(--nav-padding-right) + var(--nav-sub-toggle-length));
			height: 100%;
			background: transparent;
			border: 0;
			border-left: var(--nav-border);
			padding: 0;
			margin: 0;
			position: relative;
			cursor: pointer;
			opacity: 0.8;

			&::before,
			&::after {
				content: "";
				background: #fff;
				position: absolute;
				transform: translate(0, -50%);
				transition: transform 0.2s;
			}

			/* horizontal line */
			&::before {
				width: var(--nav-sub-toggle-length);
				height: var(--nav-sub-toggle-width);
				left: var(--nav-sub-toggle-padding-left);
				top: 50%;
			}

			/* vertical line */
			&::after {
				width: var(--nav-sub-toggle-width);
				height: var(--nav-sub-toggle-length);
				left: calc(var(--nav-sub-toggle-padding-left) + (var(--nav-sub-toggle-length)/2));
				top: 50%;
			}

			&:hover,
			&:focus {
				background-color: var(--nav-focus-bg-color);
			}
		}

		a.nav-link--current + button.submenu-toggle {
			background-color: #2e3d58; /* rgba(17, 89, 189, 0.2); */
		}
	}

	ul {
		list-style: none;
		margin: 0;
	}

	& > ul {
		display: none;

		.wpc-nav__sub {
			display: none;
		}
	}

	li.toggled-open {
		background-color: var(--nav-focus-bg-color);
		border-bottom: 0;

		& > .nav-link--toggle {
			.nav-link {
				font-weight: 600;
			}

			button.submenu-toggle {
				background-color: transparent;

				&::before,
				&::after {
					transform: translate(0, -50%) rotate(45deg);
				}
			}
		}

		& > ul {
			display: block;
			border-top: var(--nav-border);
			position: relative;
			font-size: 1rem;

			& > li {
				& > .nav-link--toggle > a,
				& > a {
					padding-left: calc(var(--nav-padding-left) * 2);
				}
			}

			&::before {
				content: "";
				position: absolute;
				left: var(--nav-padding-left);
				top: 0;
				background: var(--nav-border-color);
				width: 1px;
				height: 100%;
			}
		}

		& + li.toggled-open {
			border-top: 1px solid rgba(255, 255, 255, 0.3);
		}
	}

	li.nav-listitem--current {
		& > ul {
			background-color: var(--nav-toggled-open-bg-color);
		}
	}

	/* ONLY Mobile */
	@media (max-width: 919px) {
		button.wpc-nav__toggle {
			display: flex;
			align-items: center;
			width: 100%;
			height: auto;
			border: 0;
			border-radius: 0;
			background: transparent;
			box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.7);
			color: #fff;
			padding: 1.25rem 2rem;
			-webkit-appearance: none;
			-webkit-border-radius: 0;

			* {
				pointer-events: none;
			}

			.wpc-nav__toggle__icon {
				width: 20px;

				svg {
					display: block;
					width: 100%;
					height: auto;
					fill: #fff;

					rect.toggle-bar {
						&--four,
						&--five {
							display: none;
						}
					}
				}
			}

			.wpc-nav__toggle__labels {
				display: flex;
				align-items: center;
				font-size: 1.4rem;
				line-height: 0.85;
				font-weight: 300;
				text-transform: uppercase;
				margin: 0 0 0 1rem;
			}

			.wpc-nav__toggle__label {
				&--open {
					display: block;
				}

				&--close {
					display: none;
				}
			}

			&:hover,
			&:focus {
				background-color: var(--nav-focus-bg-color);
			}
		}

		&.toggled-open {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			padding: 0;
			overflow: scroll;
			z-index: 1000;

			& > ul {
				display: block;
			}

			button.wpc-nav__toggle {
				.wpc-nav__toggle__icon {
					svg {
						rect.toggle-bar {
							&--one,
							&--two,
							&--three {
								display: none;
							}

							&--four,
							&--five {
								display: block;
							}
						}
					}
				}

				.wpc-nav__toggle__labels {
					.wpc-nav__toggle__label {
						&--open {
							display: none;
						}

						&--close {
							display: block;
						}
					}
				}
			}

			.wpc-nav__menu {
				border-top: var(--nav-border);
			}
		}
	}

	/* Laptop */
	@media (min-width: 920px) {
		height: 100%;
		box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.7);

		button.wpc-nav__toggle {
			display: none;
		}

		& > ul {
			display: block;
		}
	}
}
