#navPrimary {
	--nav-padding-top: 0.8rem;
	--nav-padding-right: 1.5rem;
	--nav-padding-bottom: 0.8rem;
	--nav-padding-left: 1.5rem;
	--nav-border-color: rgba(255, 255, 255, 0.15);
	--nav-border: 1px solid var(--nav-border-color);
	--nav-focus-bg-color: rgba(255, 255, 255, 0.05);
	--nav-sub-toggle-width: 1px;
	--nav-sub-toggle-length: 18px;
	--nav-sub-toggle-padding-left: var(--nav-padding-right);

	font-size: 1.15rem;
	line-height: 1.5;
	color: #fff;
	background: var(--wpc-blue-dark);

	a {
		display: block;
		color: inherit;
		text-decoration: none;
		padding: var(--nav-padding-top) var(--nav-padding-right) var(--nav-padding-bottom) var(--nav-padding-left);

		&:hover,
		&:focus {
			background-color: var(--nav-focus-bg-color);
			text-decoration: underline;
		}

		&.nav-link {
			&--current {
				font-weight: 600;
			}

			&--current,
			&--current:hover,
			&--current:focus {
				background-color: #2e3d58; /* rgba(17, 89, 189, 0.2); */
				box-shadow: inset 13px 0 13px -12px rgba(0, 0, 0, 0.7);
			}
		}
	}

	li {
		border-bottom: var(--nav-border);
	}

	button.wpc-nav__toggle {
		display: flex;
		align-items: center;
		width: 100%;
		height: auto;
		border: 0;
		border-radius: 0;
		background: transparent;
		color: #fff;
		padding: 1rem 1rem 1rem var(--area-padding);
		-webkit-appearance: none;
		-webkit-border-radius: 0;

		.wpc-nav__toggle__icon {
			width: 30px;

			svg {
				display: block;
				width: 100%;
				height: auto;
				fill: #fff;

				rect {
					width: 100%;
					height: 2px;
				}
			}
		}

		.wpc-nav__toggle__labels {
			display: flex;
			align-items: center;
			font-size: 1.4rem;
			line-height: 0.85;
			font-weight: 300;
			text-transform: uppercase;
			margin: 0 0 0 1rem;
		}

		.wpc-nav__toggle__label {
			&--close {
				display: none;
			}
		}
	}

	button.submenu-toggle {
		display: none;
	}

	/* Will be wrapped around the <a> and <button> for a link with a submenu */
	span.nav-link--toggle {
		display: grid;
		grid-template-columns: 1fr calc(var(--nav-padding-right) + var(--nav-padding-right) + var(--nav-sub-toggle-length));
		justify-items: stretch;
		align-items: stretch;

		button.submenu-toggle {
			display: block;
			width: calc(var(--nav-padding-right) + var(--nav-padding-right) + var(--nav-sub-toggle-length));
			height: 100%;
			background: transparent;
			border: 0;
			border-left: var(--nav-border);
			position: relative;
			cursor: pointer;
			opacity: 0.8;

			&::before,
			&::after {
				content: "";
				background: #fff;
				position: absolute;
				transform: translate(0, -50%);
				transition: transform 0.2s;
			}

			/* horizontal line */
			&::before {
				width: var(--nav-sub-toggle-length);
				height: var(--nav-sub-toggle-width);
				left: var(--nav-sub-toggle-padding-left);
				top: 50%;
			}

			/* vertical line */
			&::after {
				width: var(--nav-sub-toggle-width);
				height: var(--nav-sub-toggle-length);
				left: calc(var(--nav-sub-toggle-padding-left) + (var(--nav-sub-toggle-length)/2));
				top: 50%;
			}

			&:hover,
			&:focus {
				background-color: var(--nav-focus-bg-color);
			}
		}

		a.nav-link--current + button.submenu-toggle {
			background-color: #2e3d58; /* rgba(17, 89, 189, 0.2); */
		}
	}

	ul {
		list-style: none;
		margin: 0;
	}

	& > ul {
		display: none;

		.wpc-nav__sub {
			display: none;
		}
	}

	&.toggled-open > ul,
	li.toggled-open > ul {
		display: block;
	}

	li.toggled-open {
		background-color: var(--nav-focus-bg-color);
		border-bottom: 0;

		& > .nav-link--toggle {
			.nav-link {
				font-weight: 600;
			}

			/* stylelint-disable no-descending-specificity */
			button.submenu-toggle {
				background-color: transparent;

				&::before,
				&::after {
					transform: translate(0, -50%) rotate(45deg);
				}
			}
			/* stylelint-disable */
		}

		& > ul {
			border-top: var(--nav-border);
			position: relative;
			font-size: 1rem;

			& > li {
				& > .nav-link--toggle > a,
				& > a {
					padding-left: calc(var(--nav-padding-left) * 2);
				}
			}

			&::before {
				content: "";
				position: absolute;
				left: var(--nav-padding-left);
				top: 0;
				background: var(--nav-border-color);
				width: 1px;
				height: 100%;
			}
		}

		& + li.toggled-open {
			border-top: 1px solid rgba(255, 255, 255, 0.3);
		}
	}

	@media (min-width: 960px) {
		height: 100%;
		box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.7);

		button.wpc-nav__toggle {
			display: none;
		}
	
		& > ul {
			display: block;
		}
	}
}