/* stylelint-disable selector-type-no-unknown */
wpcampus-notifications {
	background: var(--wpc-gray-lightest);
	border-bottom: var(--area-border-gray-light);
	font-size: 0.95rem;
	text-align: left;
	padding: 1.5rem var(--area-padding);

	*:first-child {
		margin-top: 0;
	}

	*:last-child {
		margin-bottom: 0;
	}

	ul.wpc-notifications__list {
		display: block;
		margin: 0;

		li.wpc-notification {
			margin: 1rem 0 0;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	&.wpc-component--error {
		display: none;
	}
}
/* stylelint-disable */
