/* stylelint-disable selector-type-no-unknown */
wpcampus-notifications {
	font-size: 0.95rem;
	line-height: 1.6;
	text-align: left;

	*:first-child {
		margin-top: 0;
	}

	*:last-child {
		margin-bottom: 0;
	}

	ul.wpc-notifications__list {
		display: block;
		margin: 0;

		li.wpc-notification {
			margin: 1rem 0 0;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}
/* stylelint-disable */
