.wpc-profile {
	&__header {
		display: flex;
		align-items: stretch;
		margin: 2rem 0 1rem;

		&__welcome {
			flex-grow: 1;
			align-self: center;
			margin: 0;
			font-size: 1.3rem;
			line-height: 1.4;
			font-weight: 600;
		}

		&__buttons ul {
			display: flex;
			list-style: none;
			margin: 0;

			li {
				margin: 0 0 0 0.5rem;
			}
		}
	}

	.wpc-slack-identity {
		--slack-avatar-width: 220px;
		--slack-teal: #1d8faa;

		display: flex;
		align-items: flex-start;
		margin: 2rem 0 1.5rem;

		&__avatar {
			max-width: 125px;
			margin: 0 2rem 0 0;

			&__img {
				display: block;
				width: 100%;
				height: auto;
				margin: 0;
			}
		}

		&__logo {
			display: flex;
			justify-items: flex-start;

			&__img {
				display: block;
				max-height: 40px;
				width: auto;
				margin: 0;
			}
		}

		&__user {
			line-height: 1.8;
			margin: 1.5rem 0 0;

			/* p {
				margin: 0 0 0.8rem 0;

				&.wpc-slack-identity__error--auth {
					font-weight: bold;
					color: #900;
				}
			} */

			&__name {
				font-size: 120%;

				p {
					margin: 0;
				}
			}

			&__bio {
				font-style: italic;
			}
		}

		&__login {
			span {
				display: block;
				margin: 0 0 0.5rem;
			}

			&__button {
				display: block;
				background: transparent;
				padding: 0;
				border: 0;
				margin: 0;

				img {
					display: block;
				}
			}
		}

		&__logout {
			margin: 1.5rem 0 0;

			&__button {
				background: var(--slack-teal);
				color: #fff;
				font-size: 110%;
				padding: 0.75rem 1rem;
				border: 0;
				border-radius: var(--button-border-radius);
				margin: 0;

				&:focus,
				&:hover {
					background: #0d657a;
					color: #fff;
				}
			}
		}

		&--loggedin {
			&__avatar {
				max-width: 200px;
			}
		}
	}
}
