.wpc-sidebar {
	font-size: 0.9rem;

	.wpc-widget {
		&__heading {
			margin: 0 0 0.5rem;
		}

		h2.wpc-widget__heading {
			font-size: 1.2rem;
			font-weight: 600;
		}

		&--blog {
			h3.wpc-blog__title {
				font-size: 1.2rem;
			}
		}

		&--tweets {
			.wpc-tweets__tweet {
				margin: 0 0 1rem 0;

				.wpc-tweets__text {
					margin: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		& + .wpc-widget {
			margin-top: 1.5rem;
		}
	}
}
