.wpc-sidebar {
	font-size: 0.9rem;

	.wpc-widget {
		&__heading {
			margin: 0 0 0.5rem;
		}

		h2.wpc-widget__heading {
			font-size: 1.2rem;
			font-weight: 600;
		}

		&--blog {
			h3.wpc-blog__title {
				font-size: 1.2rem;
			}
		}

		&--tweet {
			.wpc-widget__tweet {
				margin: 0;
			}
		}

		& + .wpc-widget {
			margin-top: 1.5rem;
		}
	}
}
