:root {
	--wpc-blue-dark: #2e3641;
	--wpc-blue-royal: #1159bd;
	--wpc-blue-light: #fafcfe;
	--wpc-red: #700;
	--wpc-gray-dark: #444;
	--wpc-gray-medium: #d8d8d8;
	--wpc-orange: #8d5228; /* #a76739; */
	--wpc-gray-lightest: #fafafa;
	--wpc-yellow-light: rgba(241, 226, 175, 0.15);
	--container-max-width: 80%;
	--container-bp-nav: 960px;
	--input-border: 1px solid rgba(0, 0, 0, 0.2);
	--border-yellow-color: rgba(241, 226, 175, 0.5);
	--border-yellow: 1px solid var(--border-yellow-color);
	--area-border-dev: 1px solid rgba(0, 0, 255, 0.3);
	--area-border-gray-light: 1px solid #e1e1e1; /* rgba(0, 0, 0, 0.1); */
	--area-padding: 2rem;
	--area-padding-large: 3rem;
	--button-border-radius: 0.25rem;
}
