:root {
	--wpc-blue-dark: #2e3641;
	--wpc-blue-royal: #1159bd;
	--wpc-blue-light: #fafcfe;
	--wpc-orange: #a76739;
	--wpc-gray-lightest: #fafafa;
	--container-max-width: 80%;
	--container-bp-nav: 960px;
	--input-border: 1px solid rgba(0, 0, 0, 0.2);
	--area-border-dev: 1px solid rgba(0, 0, 255, 0.3);
	--area-border-gray-light: 1px solid rgba(0, 0, 0, 0.1);
	--area-padding: 2rem;
	--area-padding-large: 3rem;
	--button-border-radius: 0.25rem;
}
